Rules Chat

Simple rules as follows.

1: Please be respectful, and no raical slurs
2: Just here to have fun and game. Leave all the other BULLSHIT behind.
3: Your personal life, it's a free country. Do as you please.
4: Just be nice to each other, and don't let your pettiness get you kicked out.

Other than that, please enjoy your stay, and welcome to the server.
